.mapouter {
    position:relative;
    text-align:right;
    overflow: hidden;
    width:600px;
    /* height:100%; */
}
.gmap_canvas {
    overflow:hidden;
    background:none!important;
    width:600px;
    height:100%;
}
.gmap_iframe {
    width:600px!important;
    /* height:400px!important; */
    height: 100%;
}

.contact .row{
    display: flex;
    background:var(--black);
    flex-wrap: wrap;
    gap:1rem;
}

.contact .row .map{
    flex:1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form{
    flex:1 1 45rem;
    padding:5rem 2rem;
    text-align: center;
}

.contact .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color:#fff;
}

.contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background:var(--bg);
    border:var(--border);
}

.contact .row form .inputBox span{
    color:#fff;
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .row form .inputBox input{
    width: 100%;
    padding:2rem;
    font-size: 1.7rem;
    color:#fff;
    text-transform: none;
    background:none;
}

@media (max-width:991px){

    .mapouter {
        width:100%;
        height:400px;
    }
    .gmap_canvas {
        width:100%;
        height:400px;
    }
    .gmap_iframe {
        width:100%!important;
        height:400px!important;
        /* height: 400px; */
    }

}