
.footer{
    background:var(--black);
    text-align: center;
}

.footer .footer-top {
    display: flex;
    justify-content: space-around;
    height: 230px;
}


.footer .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .share{
    padding:1rem 0;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:#fff;
    border:var(--border);
    margin:.3rem;
    border-radius: 50%;
}

.footer .share a:hover{
    background-color: var(--main-color);
}

.footer .links{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding:2rem 0;
}

.footer .links span{
    padding:.4rem 2rem;
    color:#ccc;
    font-size: 2rem;
    /* border:var(--border); */
    /* font-size: 2rem; */
}

.footer .links a{
    padding:.4rem 2rem;
    color:#fff;
    /* border:var(--border); */
    font-size: 1.2rem;
}

.footer .links a:hover{
    color:var(--main-color);
}

.footer .credit{
    font-size: 2rem;
    color:#fff;
    font-weight: lighter;
    padding:1.5rem;
}

.footer .credit span{
    color:var(--main-color);
}