
::-webkit-scrollbar{width:2px;height:2px;}
::-webkit-scrollbar-button{width:2px;height:2px;}

.menu .box-container{
    /* display: flex;
    flex-wrap: wrap; */
    /* justify-content: space-around; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}
    
.menu .box-container .box{
    padding:5rem;
    margin: 19px;
    text-align: center;
    border:var(--border);
}

.menu .box-container .box img{
    height: 10rem;
}

.menu .box-container .box h3{
    color: #fff;
    font-size: 2rem;
    padding:1rem 0;
}

.menu .box-container .box .price{
    color: #fff;
    font-size: 2.5rem;
    padding:.5rem 0;
}

.menu .box-container .box .price span{
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: lighter;
}

.menu .box-container .box:hover{
    background:#fff;
}

.menu .box-container .box:hover > *{
    color:var(--black);
}

@media (max-width:768px){
    .menu {
        /* width: 475px; */
    }
    .menu .box-container{
        display: flex;
        flex-wrap: nowrap;
        height: 475px;
        overflow: scroll;
        scrollbar-width: none;
    }
        
    .menu .box-container .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 19px;
        justify-content: space-evenly;
        min-width: 30vw;
    }

    .menu .box-container .box:first-child{
        margin-left: 0;
    }

    .menu .box-container .box:last-child{
        margin-right: 0;
    }

    .menu .box-container .box img {
        height: 17rem;
        width: 17rem;
    }
}

@media (max-width:450px){
    .menu {
        /* height: 120vw; */
    }
    .menu .box-container{
        
    }


    .menu .box-container .box{
        margin-right: 20px;
        min-width: 91vw;
        height: 92vw;
    }

    

    .menu .box-container .box img {
        width: 20rem;
        height: 20rem;
    }
}